header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background: var(--header);
    box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
}

.header-top-container{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 20px;

    background: var(--black-2);
}

.header-top{
    margin: auto;
    width: 100%;
    max-width: var(--mx-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-networks > span{
    font-size: 13px;
}

.social-network p{
    color: var(--white);
    font-size: 16px;
}

.social-network:hover p{
    text-decoration: underline;
}

.header-top-contact a span,
.header-top-contact a p{
    color: var(--white);
}

.header-top-contact a p{
    font-size: 16px;
}

/**/

.header-bottom-container{
    display: flex;
    padding: 0 20px;
}

.header-bottom{
    margin: auto;
    width: 100%;
    max-width: var(--mx-width);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo h2,
.header-logo h2 b{
    font-family: 'Anton';
    text-transform: uppercase;
    font-weight: normal;
    color: var(--black-0);
    font-size: 38px;
}

.header-logo h2 b{
    color: var(--red);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms);
}

.menu-link h2,
.menu-link span{
    color: var(--text);
    transition: var(--t-200ms);
}

.menu-link:hover h2,
.menu-link:hover span{
    color: var(--red);
}

.menu-link.active{
    background: var(--red);
    padding: 5px 10px;
    border-radius: 4px;
    gap: 10px;
}

.menu-link.active h2,
.menu-link.active span{
    color: var(--white);
}

.menu-link.active span{
    rotate: 180deg;
}

.menu-link-6{
    position: relative;
}

.menu-link-6::before{
    content: 'Nuevo';
    position: absolute;
    left: 100%;
    bottom: 100%;
    background: var(--red);
    color: var(--white);
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 3px;
}

.sub-menu{
    position: fixed;
    left: 50%;
    top: 130px;
    translate: -50% 0;
    width: calc(100% - 40px);
    max-width: var(--mx-width);
    padding: 40px;
    border-radius: 16px;
    background: var(--header);
    transition: var(--t-200ms);
    border: 1px solid rgba(0 0 0 / 0.25);

    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 20px;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.sub-menu.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.sub-menu-target-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.sub-menu-target-1::before{
    content: '';
    position: absolute;
    right: -12px;
    top: 50%;
    translate: 0 -50%;
    width: 1px;
    height: 100%;
    background: rgba(0 0 0 / 0.15);
}

.sub-menu-top{
    grid-column: 1/-1;
}

.sub-menu-target-title{
    width: 100%;
    /* text-align: center; */
    /* grid-column: 1/-1; */
    font-family: 'Anton';
    text-transform: uppercase;
    font-size: 40px;
    color: var(--red);
}

.sub-menu-target-2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sub-menu-target-2 > li{
    flex: 1 1 clamp(200px, calc(calc(100% / 2) - calc(10px / 2)), 100%);
    max-width: calc(calc(100% / 2) - calc(10px / 2));
}

.sub-menu-target-2 li a{
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: var(--t-200ms);
    /* padding: 20px 10px; */
    padding: 20px;
    border-radius: 4px;
    gap: 5px;
}

.sub-menu-target-2 li a:hover{
    background: rgba(218 19 31 / 0.1);
}

.sub-menu-target-2 li a img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.sub-menu-target-2 li a h3{
    color: var(--black-0);
    font-size: 20px;
}

.sub-menu-target-2 li a:hover h3{
    color: var(--red);
}

.sub-menu-target-2 li a p{
    color: var(--text);
}

/**/

.header-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0 0 0 / 0.15);
    transition: var(--t-200ms);
    backdrop-filter: blur(2px);
    z-index: 99;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.header-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

/**/

.menu-icon{
    display: none;
    width: 56px;
    height: 56px;
    background: rgba(0 0 0 / 0.05);
    border: 1px solid rgba(0 0 0 / 0.15);
    border-radius: 4px;
    position: relative;
    transition: var(--t-200ms);
}

.menu-icon.active{
    background: rgba(218 19 31 / 0.1);
    border: 1px solid var(--red);
}

.menu-icon span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    transition: var(--t-200ms);
}

.menu-icon.active span{
    color: var(--red);
}

.menu-icon span:nth-child(2){
    scale: 0;
}

.menu-icon.active span:nth-child(2){
    scale: 1;
}

.menu-icon.active span:nth-child(2){
    scale: 0;
}

/**/

@media screen and (max-width: 600px){
    .social-networks{
        display: none;
    }

    .header-top-contact{
        margin-left: auto;
    }

    .header-logo h2,
    .header-logo h2 b{
        font-size: 36px;
    }

    .header-bottom-links li:nth-child(1){
        display: none;
    }

    .header-bottom-links li:nth-child(2) a{
        width: 56px;
        height: 56px;
    }

    .header-bottom-links li:nth-child(2) a p{
        display: none;
    }

    .menu-container{
        position: fixed;
        left: 100%;
        top: 120px;
        width: 100%;
        height: calc(100vh - 120px);
        background: var(--header);
        transition: var(--t-200ms);

        overflow-y: auto;
    }

    .menu-container::-webkit-scrollbar{
        display: none;
    }

    .menu-container.active{
        left: 0;
    }

    .menu{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .menu li{
        width: 100%;
    }

    .menu-link{
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .menu-link:hover{
        background: rgba(218 19 31 / 0.1);
    }

    .menu-link.active{
        padding: 0 20px;
        background: var(--red);
        border-radius: 0;
    }
    
    .menu-link-6::before{
        left: unset;
        bottom: unset;
        top: 50%;
        right: 20px;
        translate: 0 -50%;
    }

    .sub-menu{
        position: unset;
        left: unset;
        top: unset;
        translate: unset;

        width: 100%;
        height: 0;
        overflow: hidden;
        padding: 0 20px;

        opacity: unset;
        pointer-events: unset;
        user-select: unset;

        display: flex;
        flex-direction: column;

        interpolate-size: allow-keywords;
        transition: var(--t-200ms);

        border: 0;
    }

    .sub-menu.active{
        height: auto;
        padding: 20px;
    }

    .sub-menu-target-title{
        font-size: 30px;
    }

    .sub-menu-close{
        display: none;
    }

    .sub-menu-target-1::before{
        content: '';
        position: absolute;
        right: 0;
        top: unset;
        bottom: -12px;
        translate: 0 0;
        width: 100%;
        height: 3px;
    }

    .sub-menu-target-2 > li{
        flex: unset;
        max-width: none;
    }

    .sub-menu-target-2 > li a{
        padding: 10px;
    }

    /* .sub-menu-target-2 > li a img{
        display: none;
    } */
     
    .menu-icon{
        display: block;
    }

    .header-layer{
        display: none;
    }
}