*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roobert';
    font-size: 17px;
    font-weight: 500;
}

/**/

:root{
    --header: #FFFFFF;
    
    --body: #FFFFFF;

    --black-0: #000000;
    --black-1: #111111;
    --black-2: #222222;

    --white: #FFFFFF;

    --footer: #000000;
}

/**/

@font-face{
    font-family: 'Anton';
    src: url('../public/assets/Fonts/AntonSC-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roobert';
    src: url('../public/assets/Fonts/RoobertSemiBold.ttf') format('truetype');
}

/**/