*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roobert';
    font-size: 17px;
    font-weight: 500;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

/**/

:root{
    --body: #FFFFFF;
    --header: #FFFFFF;
    --header-top: #000000;

    --white: #FFFFFF;
    --red: #DA131F;

    --text: #333333;

    --black-0: #000000;
    --black-1: #111111;
    --black-2: #222222;
    --black-3: #333333;
    --black-4: #444444;
    --black-5: #555555;
    --black-6: #666666;
    --black-7: #777777;
    --black-8: #888888;
    --black-9: #999999;

    --mx-width: 1600px;

    --t-100ms: all 100ms linear;
    --t-200ms: all 200ms linear;
    --t-300ms: all 300ms linear;
}

/**/

@font-face{
    font-family: 'Anton';
    src: url('../public/assets/Fonts/AntonSC-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roobert';
    src: url('../public/assets/Fonts/RoobertSemiBold.ttf') format('truetype');
}

/**/

body{
    background: var(--body);
    transition: var(--t-200ms);
}

main{
    margin-top: 120px;
}

/**/

.list-simple{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-simple li{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

.list-simple li span{
    color: #19e212;
}

/**/

.d-flex{
    display: flex;
}

.d-flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

/**/

.d-grid{
    display: grid;
}

.d-grid-2-1fr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/**/

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

/**/

.margin-left{
    margin-left: auto;
}

.margin-right{
    margin-right: auto;
}

/**/

.text{
    color: var(--text);
    transition: var(--t-200ms);
}

.text-title,
.text-title b{
    font-size: 36px;
    color: var(--black-0);
}

.text-title b{
    color: var(--red);
}

.color-white{
    color: var(--white);
}

.color-gray{
    color: gray;
}

/**/

button{
    background: none;
    border: 0;
    cursor: pointer;
}

/**/

.button-link{
    width: auto;
    height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: var(--t-200ms);
    border-radius: 4px;
}

.button-link-1{
    background: var(--red);
}

.button-link-1:hover{
    background: #F10B1B;
}

.button-link-1 span,
.button-link-1 .button-link-text{
    color: var(--white);
}

.button-link-2{
    border: 1px solid rgba(0 0 0 / 0.15);
}

.button-link-2:hover{
    background: rgba(218 19 31 / 0.1);
    border: 1px solid var(--red);
}

.button-link-2 span,
.button-link-2 .button-link-text{
    color: var(--red);
}

.button-link-3{
    border: 1px solid rgba(255 255 255 / 0.5);
}

.button-link-3:hover{
    background: rgba(255 255 255 / 0.15);
    border: 1px solid var(--white);
}

.button-link-3 span,
.button-link-3 .button-link-text{
    color: var(--white);
}

/**/

.block-container{
    margin: auto;
    width: 100%;
    max-width: 2000px;
    display: flex;
    padding: 20px;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: var(--mx-width);
}

.block-title-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.block-title{
    margin: auto;
    font-size: 36px;
    font-family: 'Anton';
    font-weight: normal;
    text-transform: uppercase;
    color: var(--red);
}

/**/

.faqs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq{
    display: flex;
    flex-direction: column;
}

.faq-title{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    transition: var(--t-200ms);
    border-radius: 4px 4px 0 0;
}

.faq-title:hover,
.faq.active .faq-title{
    background: rgba(255 255 255 / 0.1);
}

.faq-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: rgba(255 255 255 / 0.15);
}

.faq-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--red);
    transition: var(--t-200ms);
}

.faq-title:hover::after,
.faq.active .faq-title::after{
    width: 100%;
}

.faq-title p{
    font-size: 20px;
    color: var(--white);
}

.faq-title span{
    color: var(--white);
    transition: var(--t-200ms);
}

.faq.active .faq-title span{
    rotate: -180deg;
}

.faq-content{
    overflow: hidden;
    height: 0;
    transition: var(--t-200ms);
    interpolate-size: allow-keywords;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq.active .faq-content{
    height: auto;
    padding: 20px 0;
}

/**/

@media screen and (max-width: 600px){
    *{
        font-size: 18px;
    }

    main{
        margin-top: 80px;
    }

    .button-link{
        height: 56px;
    }

    .text-title{
        font-size: 32px;
    }
}