.contact-block-container{
    padding: 40px 20px;
    background: var(--red);
}

.contact-block-container .block-content .block-title-container h3{
    color: var(--white);
}

iframe{
    width: 100%;
    height: 400px;
    border: 0;
    outline: 0;
    border-radius: 16px;
}